name: work-1

on:
  push:
    paths:
      - '.github/workflows/**'
      - 'src/**'
      - 'build.gradle'
      - 'build.gradle.kts'
      - 'Dockerfile'
    branches:
      - main

permissions:
  contents: write

jobs:
  hello1:
    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Create Tag
        id: create_tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ env.GH_TOKEN }}
          fetch_all_tags: true

      - name: Create release
        if: ${{ steps.create_tag.outputs.new_tag != '' }}
        uses: ncipollo/release-action@v1
        with:
          token: ${{ env.GH_TOKEN }}
          tag: ${{ steps.create_tag.outputs.new_tag }}
          name: Release ${{ steps.create_tag.outputs.new_tag }}
          body: ${{ steps.create_tag.outputs.changelog }}
          allowUpdates: true
      
